<div class="row">
    <div class="col">
        <a href="/newarticle">Create a New Article</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>My Articles</h2>
    </div>
</div>
{{#each articles as |article| }}
<div class="row">
  <div class="col">
    <a href="/article/{{article.id}}">{{article.title}}</a>
    <h3>{{format_date article.date_created}}</h3>
  </div>
</div>
{{/each}}