{{#each articles as |article| }}
<div class="row">
  <div class="col">
    <h2>{{article.title}}</h2>
  </div>
</div>
{{/each}}

<script src="/js/home.js"></script>

{{!-- add article.author and article.body --}}