<div class="row">
    <div class="col">
        <h2>New Article</h2>
        <h3 class="author" id="{{user.id}}">Written by: {{user.name}}</h3>
    </div>
</div>

<form class="form article-form">
  <div class="form-group">
    <label for="article-title">Title:</label>
    <input class="form-input" type="text" id="article-title"/>
  </div>
  <div class="form-group">
    <label for="article-body">Body:</label>
    <input class="form-input" type="text" id="article-body"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Publish</button>
  </div>
</form>

<script src="./js/submitArticle.js"></script>